*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px // =1rem
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-size: 0.95rem
    &__image
      display: flex
      align-items: center
      justify-content: center
      &::after, &::before
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
    &__text
      display: inline-block
      text-transform: none
      font-family: 'Futura Book', sans-serif
      font-size: 1.43rem
      line-height: 1.9rem
      width: 53rem
      margin-top: 1.3rem
      margin-bottom: 1.2rem
