.complexity
  background: linear-gradient(to top, $dark 65%, $light 35%)
  padding-bottom: 40em
  &__section-title
    margin-bottom: 2.2rem
.card
  &__text
    margin-top: -9.1rem
  &__pricetag-complexity
    position: absolute
    left: 0
    bottom: -1.79rem
    font-family: 'Yeseva One', cursive
    font-size: 1.28rem
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 0
    padding-left: 2.36rem
    padding-right: 4.9rem
