.types
  &__section-title
    margin-bottom: 2.2rem
.row
  display: flex
  align-items: flex-start
  justify-content: space-between
.col
  flex-basis: 32%
.card
  &__text
    position: relative
    margin: 0 auto
    max-width: 23.6rem
    margin-top: -5rem
    padding: 1.79rem 2.2rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__list
    font-size: 1.07rem
    line-height: 1.24rem
    padding: 0 0 0 1rem
    margin: 0
    color: $secondary
    margin-bottom: 2.6rem
  &__item
    margin-bottom: 0.6rem
    margin-left: 0.6rem
  &__title
    font-family: 'Yeseva One', cursive
    font-size: 1.29rem
    margin-top: 0
    margin-bottom: 1rem
    margin-left: 0.3rem
  &__pricetag
    position: absolute
    left: 0
    bottom: -1.79rem
    font-family: 'Yeseva One', cursive
    font-size: 1.28rem
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 1.214rem 2.9rem